 p {
  text-align: center;
}

a:link {
    color: #E5E5E5;
    text-decoration: none;
    font-size: 20px;
}

a:visited {
    color: #E5E5E5;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: #7F7F7F;
    text-decoration: none;
    font-size: 20px;
}

a:active {
    color: #8D3D5A;
    text-decoration: none;
    font-size: 20px;
}

 body {
   color: #FFFFFF;
   font-family: 'Open Sans', sans-serif;
   background-image: url('b (1).png');
   background-size:cover;
   text-align: center; 
}


img {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
